.AccountTrends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AccountTrends-title {
  margin-top: 10px;
}
.AccountTrends-filter-button {
  margin: 10px 0px;
}
.Graph-Table {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

table {
  overflow-y: scroll;
  max-height: 540px;
  display: block;
}
