.AccountCard {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.1s;
  /* background-color: #375a7f; */
  background-color: #3a3f44;
  /* background-color: black; */
  height: 100px;
  cursor: pointer;
  /* border: 1px solid #000000; */
}
.AccountCard:hover {
  transform: scale(1.03);
}
.AccountCard-left {
  display: flex;
  flex-direction: row;
  width: 200px;
}
.AccountCard-right {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.AccountCard-title {
  margin-left: 10px;
}
.AccountCard-icon {
  max-width: 50px;
  max-height: 50px;
  background-color: #18bc9c;
}

.AccountCard-link {
  color: white !important;
}
