.FilterTransactionsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FilterTransactions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FilterTransactions-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-evenly;
  width: 675px;
}
.FilterTransactions-bottom {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin-bottom: 30px;
}
.FilterTransactions-bottom > div {
  margin: 0px 10px;
}
.FilterTransactions-bottom-labels {
  width: 200px;
}
.FilterTransactions-submit {
  margin: 10px;
}

#name {
  width: 193px;
}
.select__control {
  min-height: 48px !important;
}
