.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.Input-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Signup-password {
  margin-right: 5px;
}
.password-button {
  width: 40%;
  margin-left: 10px;
}
