.Transaction {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 80%;
  background-color: black;
  /* background-color: #3a3f44; */
}

.Transaction-date {
  align-self: flex-start;
  height: 40px;
  margin: 4px;
}
.Transaction-name-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Transaction-name-amount {
  display: flex;
  flex-direction: row;
}
.Transaction-name {
  margin-right: 5px;
}
.Transaction-amount {
  margin-left: 5px;
}
